[syrnt]
datadir:  path-to-syromorph-data-directory
filename: all-ordered.txt
[sedra]
datadir:  path-to-sedra-data-directory
roots:    ROOTS.TXT
lexemes:  LEXEMES.TXT
words:    WORDS.TXT
english:  ENGLISH.TXT
etymology:ETIMOLGY.TXT
nt:       BFBS.TXT
